@tailwind base;
@tailwind components;
@tailwind utilities;

@layer utilities {
    .text-4xl-clamp {
        font-size: clamp(1rem, -0.5625rem + 5vw, 2.25rem);
    }
    input[type="number"]::-webkit-inner-spin-button,
    input[type="number"]::-webkit-outer-spin-button {
        -webkit-appearance: none;
        margin: 0;
    }
    .scrollbar::-webkit-scrollbar {
        width: 10px;
        height: 10px;
      }
    
    .scrollbar::-webkit-scrollbar-track {
        border-radius: 100vh;
        background: #E1E9F5;
    }
    
    .scrollbar::-webkit-scrollbar-thumb {
        background: #304254;
    }
    
    .scrollbar::-webkit-scrollbar-thumb:hover {
        background: #002540;
    }

    .no-spinner {
        -moz-appearance: textfield;
    }
  
    .no-spinner::-webkit-outer-spin-button,
    .no-spinner::-webkit-inner-spin-button {
    margin: 0;
    -webkit-appearance: none;
    }

    .mySwiper2 {
        width: 100%;
    }
      
    .mySwiper {
        box-sizing: border-box;
        padding: 10px 0;
    }
      
    .mySwiper .swiper-slide {
        opacity: 0.4;
    }
      
    .mySwiper .swiper-slide-thumb-active {
        opacity: 1;
    }

    input[type=range]::-webkit-slider-thumb {
        pointer-events: auto;
        width: 20px;
        height: 20px;
        border-radius: 50%;
        -webkit-appearance: none;
        @apply bg-blue-500
    }
}